{% extends "layout.html" %}

{% block content %}
  
  <div class="page-header">
    <h1>Movies R Us{% if subtitle %}<small>{{subtitle}}</small>{% endif %}</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h2>Search for Movies</h2>
      {% if showForm %}
        <form action="/search" method="POST">

          <label for='movie_field'>Movie Name:</label>
          <input name='movie' type="text" id="movie_field" value="{% if movie %}{{movie.name}}{% endif %}" />

          <label for="actor_field">Actor:</label>
          <input name="actor" type="text" id="actor_field" value="{% if actor %}{{actor.first_name + ' ' + actor.last_name}}{% endif %}"/>

          <label for='director_field'>Director:</label>
          <input name='director' type="text" id="director_field" value="{% if director %}{{director.first_name + ' ' + director.last_name}}{% endif %}"/>

          <label for="year_field">Year:</label>
          <input name="year" type="text" id="year_field" value="{% if year %}{{year}}{% endif %}"/>

          <input type="submit" value="Submit"/>

        </form>
      {% endif %}
    </div>
    <div class="col-md-9">
    
      <!-- display tweets here -->
      {% for movie in movies %}
      <div class='movie'>
        <h3><a href='/movies/{{movie.id}}'>{{movie.name}}</a></h3>
        <h4>Directed By:<h4>
          <p><a href="/director/{{movie.director.id}}">{{movie.director}}</a></p>
        <h4>Actors:</h4>
          <ul>
          {% for actor in movie.actors %}
            <li><a href="/director/{{actor.id}}">{{actor.first_name + " " + actor.last_name}}</a></li>
          {% endfor %}
          </ul>
      </div>
      {% endfor %}
      
    </div>
  </div>
    
{% endblock %}